.breadcrumbs {
  color: $emerald-green;
  font-size: 1.8rem;
  margin: 30px 0 54px;

  li {
    display: inline-block;
  }

  a {
    color: $emerald-green;
    font-size: 1.8rem;
    text-decoration: none;
    
    &:hover {
      color: $orange-yellow;
    }
  }
}