.building {
  display: flex;

  &__img {
    flex: 1 1 545px;
    margin-right: 20px;
    width: 545px;

    img {
      max-width: 100%;
    }
  }

  &__img-thumbs {
    margin: 12px 55px;
    position: relative;

    .bx-prev,
    .bx-next {
      background-image: inline_image('base64/bulding-arrow.png');
      background-repeat: no-repeat;
      height: 25px;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      text-indent: -9999px;
      width: 13px;
    }

    .bx-prev {
      background-position: 0 0;
      left: -36px;

      &:hover {
        background-position: 0 bottom;
      }
    }

    .bx-next {
      background-position: -20px 0;
      right: -36px;

      &:hover {
        background-position: -20px bottom;
      }
    }
  }

  &__img-thumb {
    display: block;
    padding: 2px;

    img {
      border: 2px solid transparent;
      display: block;
      max-width: 100%;
    }

    &.active {
      img {
        border-color: $orange-yellow;
        border-radius: 3px;
      }
    }
  }
  &__plan {
    flex: 1 1 565px;
    width: 565px;
  }

  &__other {
    background-color: $orange-yellow;
    margin-bottom: 10px;
    padding: 14px 0 5px;
  }

  &__other-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__other-item {
    display: block;
    flex: 0 0 (242 / 1130 * 100%);
    margin-bottom: 16px;
    margin-left: (100 - 4 *(242 / 1130 * 100%)) / 3;
    margin-top: 16px;
    transition: all .4s ease;
    width: (242 / 1130 * 100%);

    &:hover {
      opacity: .8;
    }

    &:nth-of-type(4n+1) {
      margin-left: 0;
    }
  }

  &__other-more {
    background-image: inline_image('base64/building-arrow.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 20px;
    transition: padding .4s ease;

    &:hover {
      padding-bottom: 35px;
    }
  }
}

.building-tips {
  color: #696969;
  font-size: 1.7rem;
  margin-bottom: 15px;
  padding: 0 66px;
  text-align: center;
}

.plan-tips {
  color: #696969;
  font-size: 1.7rem;
  line-height: 1.2;
  margin: 19px 17px;
  text-align: center;
}

.plan {
  &__construct {
    align-items: flex-end;
    background-position: left bottom 45px;
    background-repeat: no-repeat;
    display: flex;
    height: 522px;
  }

  .plan__section-a {
    flex: 0 0 auto;
    margin: 0 9px 0 17px;
  }

  .plan__section-b {
    flex: 0 0 auto;
    margin-right: 9px;
  }

  .plan__section-c {
    flex: 0 0 auto;
  }

  &__section-title {
    color: #696969;
    font-size: 1.7rem;
    height: 45px;
    line-height: 45px;
    margin-top: 20px;
    text-align: center;
  }

  &__row {
    background-image: url('../img/template/building-1-0.png'),
    url('../img/template/building-1-1.png');
    background-position: left 0, right 0;
    background-repeat: repeat-y;
    display: flex;
    padding: 0 18px;
  }

  &__roof {
    background-image: url('../img/template/building-0-1.png');
    background-repeat: repeat-x;
    height: 41px;
    margin: 0 18px;
    position: relative;

    &::after,
    &::before {
      content: ' ';
      height: 41px;
      position: absolute;
      top: 0;
      width: 18px;
    }

    &::after {
      background-image: url('../img/template/building-0-2.png');
      right: -18px;
    }

    &::before {
      background-image: url('../img/template/building-0-0.png');
      left: -18px;
    }
  }

  &__footer {
    background-image: url('../img/template/building-2-1.png');
    background-position: 0 bottom;
    background-repeat: repeat-x;
    height: 20px;
    margin: 0 18px;
    position: relative;

    &::after,
    &::before {
      background-repeat: no-repeat;
      content: ' ';
      height: 20px;
      position: absolute;
      top: 0;
      width: 18px;
    }

    &::after {
      background-image: url('../img/template/building-2-0.png');
      right: -18px;
    }

    &::before {
      background-image: url('../img/template/building-2-2.png');
      left: -18px;
    }
  }

  &__ap {
    box-shadow: 0 0 0 1px #b0b0ab;
    color: $white;
    display: block;
    flex: 0 0 24px;
    height: 24px;
    line-height: 24px;
    margin: 2px;
    text-align: center;
    width: 24px;

    &.is-blank {
      box-shadow: 0;
    }

    &--tips {
      background-color: $emerald-green;
      box-shadow: 0 0 0 1px $emerald-green;
      display: inline-block;
    }
  }

  a {
    background-color: $emerald-green;
    box-shadow: 0 0 0 1px $emerald-green;
    text-decoration: none;
    transition: all .4s ease;

    &:hover {
      background-color: $orange-yellow;
      box-shadow: 0 0 0 1px $orange-yellow;

    }
  }
}

