[class*='btn'] {
  cursor: pointer;
  display: block;
  text-decoration: none;
  transition: background .4s ease;
}

.btn {
  &--callme {
    background-color: $orange-yellow;
    background-image: inline_image('base64/ico-phone.png');
    background-position: 11px center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #d1c025;
    color: $white;
    font-size: 1.8rem;
    line-height: 38px;
    letter-spacing: 1px;
    margin-top: 11px;
    padding-left: 40px;

    &:hover {
      background-color: lighten($orange-yellow, 15);
    }
  }

  &--green {
    background-color: $emerald-green;
    border: 0;
    color: $white;
    line-height: 40px;
    margin: 0 auto;
    max-width: 180px;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $orange-yellow;
    }

  }

  &--print {
    background-image: inline_image('base64/ico-print.png');
    background-position: center 12px;
    background-repeat: no-repeat;
    color: $emerald-green;
    display: block;
    font-family: $font-cond;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 auto 33px;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
    width: 115px;

    &:hover {
      color: $orange-yellow;
    }
  }

  &--calc {
    background-image: inline_image('base64/ico-calc.png');
    background-position: center 12px;
    background-repeat: no-repeat;
    color: $emerald-green;
    display: block;
    font-family: $font-cond;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 auto 15px;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
    width: 115px;

    &:hover {
      color: $orange-yellow;
    }
  }

  &--orng {
    background-color: $orange-yellow;
    background-repeat: no-repeat;
    border: 0;
    color: $white;
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 38px;
    margin-top: 11px;
    padding-left: 40px;

    &:hover {
      background-color: lighten($orange-yellow, 15);
    }
  }
}