.documents {
  background-color: #e7e6e6;
  margin-bottom: 10px;
  padding: 28px 0 77px;

  &__item {
    align-items: center;
    color: $black;
    display: flex;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 14px;
    min-height: 40px;
    padding-left: 45px;
    position: relative;
    text-decoration: none;

    &::after {
      background-image: inline_image('base64/ico-doc.png');
      background-position: center center;
      background-repeat: no-repeat;
      content: ' ';
      display: block;
      height: 35px;
      left: 0;
      opacity: .5;
      position: absolute;
      top: 0;
      width: 32px;
    }

    &:hover {
      text-decoration: underline!important;

      &::after {
        opacity: 1;
      }
    }
  }

  &__list {
    display: flex;
  }

  &__col {
    flex: 0 0 50%;
    width: 50%;
  }

  &__col + &__col {
    flex: 0 0 417px;
    margin-left: auto;
    width: 417px;
  }
}