.filter {
  background-color: rgba($black, .15);
  display: flex;
  margin: 0 -20px 40px;
  padding-bottom: 2px;
  position: relative;

  &::after {
    background-color: $black;
    bottom: 1px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    opacity: .38;
    position: absolute;
    width: 100%;
  }

  &__group {
    flex: 0 0 (190 / 1170 * 100%);
    position: relative;
    text-align: center;
    width: (190 / 1170 * 100%);

    &:first-child {
      text-align: left;
    }

    &--last {
      align-self: center;
      flex: 1 1 auto;
    }

    &::before {
      background-color: $black;
      content: '';
      display: block;
      height: (67 / 108 * 100%);
      opacity: .38;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      width: 1px;
    }

    &:first-child::before {
      display: none;
    }

    &::before {
      left: 0;
    }
  }

  &__title {
    color: $black-four;
    font-size: 1.8rem;
    padding: 10px 20px;
  }

  &__range {
    color: $white;
    font-size: 2.2rem;
  }
}

.filter-title {
  color: $emerald-green;
  font-family: $font-cond;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.complex_select {

}

.noUi-target {
}

.range-wrapper {
  margin: 10px 0;
  position: relative;
}

.noUiMin,
.noUiMax {
  color: #757272;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 100%;
}

.noUiMin {
  left: 0;
}

.noUiMax {
  right: 0;
}

.noUi-handle {
  width: 18px !important;
  height: 18px !important;
  background-color: #fca703 !important;
  border: 1px solid #8c6239 !important;
  border-radius: 4px !important;
  box-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.29) !important;
  top: -5px !important;

  &::before,
  &::after {
    display: none !important;
  }
}

.noUi-connect {
  background-color: #fca703 !important;
  height: 10px !important;
}

.noUi-background {
  background-color: white !important;
  border: 1px solid #c2c2c2 !important;;
  border-radius: 4px !important;
  height: 10px !important;
}

.complex_select-wrapper {
  overflow: hidden;
  width: 156px;
  margin-top: 27px;
  margin-left: 20px;
  position: relative;
  padding-bottom: 2px;
  background: inline_image('base64/select-bg.png') no-repeat left bottom;

  &::after {
    display: block;
    content: '';
    position: absolute;
    background: inline_image('base64/select-arrow.png') no-repeat left center;

    right: 0;
    top: 0;
    bottom: 0;
    width: (23 + 4px);
  }

  select {
    background: none;
    border: 0;
    width: 130%;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 10px;

    option {
      color: #262525;
    }
  }
}
