.main-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none!important;
  margin: 0 -12px;

  a {
    color: $white;
    display: block;
    font-size: 1.8rem;
    line-height: 62px;
    padding: 0 12px;
    text-decoration: none;
    transition: all .4s ease;

    &:hover,
    &.is-active{
      background-color: $orange-yellow;
    }
  }



}