.object {
  flex: 0 0 (240 / 1130 * 100%);
  margin: 0 20px 45px;
  text-align: center;
  width: (240 / 1130 * 100%);

  &__img {
    margin-bottom: 14px;
    position: relative;

    img {
      display: block;
    }
  }

  &__labels {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 19px;
  }

  &__location {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__number {
    background-image: inline_image('base64/ico-object-number.png');
    background-position: left top;
    background-repeat: no-repeat;
    color: $black-three;
    font-size: 1.7rem;
    line-height: 24px;
    margin-left: 12px;
    padding-left: 30px;
    text-align: left;
  }

  &__date {
    color: $black-five;
    font-size: 1.4rem;
    line-height: 20px;
    text-align: center;

    &::before {
      background-image: inline_image('base64/ico-date.png');
      background-position: left top;
      background-repeat: no-repeat;
      color: transparent;
      content: '.';
      display: inline-block;
      height: 20px;
      margin-right: 3px;
      width: 18px;
    }
  }

  &__price {
    color: $orange-yellow;
    font-size: 2rem;
    margin-bottom: 9px;
    text-align: right;

    &--old {
      color: $warm-grey;
      font-size: 1.6rem;
      text-align: right;
      text-decoration: line-through;
    }
  }

  &__status {
    color: $emerald-green;
    font-size: 1.4rem;
    margin: 11px 0;
  }

  &__btn {
    border: 1px solid $emerald-green;
    border-radius: 4px;
    color: $emerald-green;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    width: 160px;
    
    &:hover {
      color: $white;
      background-color: $emerald-green;
    }
  }

  &__label {
    color: $white;
    display: inline-block;
    font-size: 1.4rem;
    height: 25px;
    line-height: 25px;
    margin-bottom: 4px;
    min-width: 90px;
    padding-left: 20px;
    position: relative;
    text-align: left;
    transform: skew(-30deg) translatex(-20px);

    span {
      display: block;
      padding: 0 9px;
      transform: skew(30deg);
    }

    &--done {
      background-color: $orange-yellow;
    }

    &--progress {
      background-color: $dark-grass-green;
    }

    &--sale {
      background-color: $red;
    }
  }
}

.object-list {
  display: flex;
  flex-wrap: wrap;
}

.objects-show-more {
  background-image: inline_image('base64/arrow-down.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  color: $emerald-green;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  margin: 28px auto 35px;
  padding-bottom: 27px;
  text-align: center;
  transition: padding .4s ease;
  width: 300px;

  &:hover {
    padding-bottom: 40px;
  }
}