.partners {
  background-color: $white;
  margin-top: 10px;
  padding: 10px 0;

  .bx-prev,
  .bx-next {
    background-repeat: no-repeat;
    background-position: center center;
    height: 64px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
    text-indent: -9999px;
    width: 17px;

    &:hover {
      opacity: .6;
    }
  }
  &__slider {
    margin: 50px 44px 30px;
    position: relative;
    text-align: center;
  }

  .bx-prev {
    background-image: inline_image('base64/slider-arrow-left.png');
    left: -64px;
  }
  .bx-next {
    background-image: inline_image('base64/slider-arrow-right.png');
    right: -64px;
  }
}