.tabs__captions li {
  cursor: pointer;
  list-style: none !important;
}

.tabs__item {
  display: none;
}

.tabs__item.is-active {
  animation: show-tabs .6s ease-in;
  display: block;
}

@keyframes show-tabs {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.object-tabs {
  .tabs__captions {
    border-bottom: 1px solid $cool-grey;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    li {
      border: 1px solid transparent;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      color: $steel;
      font-size: 1.8rem;
      line-height: 34px;
      margin-bottom: -1px;
      min-width: 80px;
      padding: 0 20px;
      position: relative;
      text-align: center;

      &.is-active {
        border-color: $cool-grey;
        border-bottom-color: #f7f7f7;
        color: $emerald-green;

        &::before,
        &::after {
          content: ' ';
        }
      }

      &::before,
      &::after {
        border: 1px solid $cool-grey;
        bottom: -1px;
        height: 6px;
        position: absolute;
        width: 6px;
      }

      &::before {
        border-bottom-right-radius: 7px;
        border-width: 0 1px 1px 0;
        box-shadow: 2px 2px 0 #f7f7f7;
        left: -6px;
      }

      &::after {
        border-bottom-left-radius: 7px;
        border-width: 0 0 1px 1px;
        box-shadow: -2px 2px 0 #f7f7f7;
        right: -6px;
      }
    }
  }
}
