.ipoteka-form {
  &__field {
    background-color: white;
    background-position: 15px center;
    background-repeat: no-repeat;
    
    border: 1px solid #015b11;
    border-radius: 4px;
    height: 46px;
    margin-bottom: 31px;
    width: 100%;
    
    &--name {
      background-image: inline-image('base64/ico-name.png');
    }

    &--family{
      background-image: inline-image('base64/ico-family.png');
    }

    &--phone {
      background-image: inline-image('base64/ico-phone-2.png');
    }

    &--email {
      background-image: inline-image('base64/ico-email-2.png');
    }

    &--calc {
      background-image: inline-image('base64/ico-calc-2.png');
    }

    &--sert {
      background-image: inline-image('base64/ico-sert.png');
    }

    &--bag {
      background-image: inline-image('base64/ico-bag.png');
    }
  }

  &__col {
    flex: 1 0 auto;
    max-width: 387px;
    width: 100%;
  }

  &__sep {
    color: #a7a7a7;
    flex: 0 0 48px;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    width: 48px;
  }

  input {
    &::-webkit-input-placeholder {color:#a7a7a7;}
    &::-moz-placeholder          {color:#a7a7a7;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#a7a7a7;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#a7a7a7;}

    font-size: 1.7rem;
    font-weight: 400;
    line-height: 42px;
    outline: $orange-yellow;
    padding: 0 53px;

  }


  &__footer {
    align-items: center;
    display: flex;
  }

  &__submit {
    margin: 0 57px 0 273px;
  }

  &__question {
    background-image: inline_image('base64/line.png');
    background-position: left bottom;
    background-repeat: repeat-x;
    color: #fca703;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;

    &:hover {
      background-image: none;
    }
  }
}