@import "breakpoint";

@mixin container {
  width: $container-width;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin ico-block {
  content: "";
  position: absolute;
  display: block;
}

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin addIco($name, $x:0, $y:0) {
  & {
    position: relative;
  }
  &:after {

    background: sprite($icons, $name);
    @include sprite-dimensions($icons, $name);
    content: "";
    position: absolute;
    @if $x=='center' {
      left: 50%;
      margin-left: - sprite-width($icons, $name)/2;
    } @else {
      left: $x;
    }
    @if $y=='center' {
      top: 50%;
      margin-top: - sprite-height($icons, $name)/2;
    } @else {
      top: $y;
    }
    display: block;
  }
}

@mixin grayscale($scale:100%) {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /// Firefox 10+, Firefox on Android */
  filter: grayscale($scale);
  -moz-filter: grayscale($scale);
  -ms-filter: grayscale($scale);
  -o-filter: grayscale($scale);
  filter: gray; /// IE6-9 */
  -webkit-filter: grayscale($scale); /// Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin justify_block {
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
}