/// Параметры шаблона
$page-width: 1170;
$container-width: 1170;

// adapt width
$mobile: 320px 480px;
$s-tablete: 480px 767px;
$tablet: 768px 1023px;
$desktop: 1024px;

/// color-list
$emerald-green: #008e19;
$emerald-green-two: #2cb97b;
$orange-yellow: #fca703;
$white: #fff;
$brownish-grey: #636363;
$greyish-brown: #494037;
$cool-grey: #9a9ca0;
$white-two: #ededed;
$black: #010101;
$black-five: #000000;
$black-two: #383838;
$black-three: #232020;
$black-four: #262525;
$warm-grey: #8d8b8b;
$dark-grass-green: #348300;
$red: #e60000;
$steel: #87898f;
$greyish: #b6b6b5;
$grey: #e7e6e6;
$warm-grey-two: #757272;
$tangerine: #fa8f03;
/// font stack

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400i,500,700,700i&subset=cyrillic,cyrillic-ext';

$font-main: 'Roboto', sans-serif;
$font-cond: 'Roboto Condensed', sans-serif;
