///  Структуру сайта
@import "compass/utilities/general/clearfix";
/// Прижатие подвала н низу страницы

/// inherit box-sizing
html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

html, body {
  min-height: 100%;
  //height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: $page-width * 1px;
  overflow-x: hidden;
  width: 100%;
}

.site-content {
  flex: 1 0 auto;
}

.inner {
  margin: 0 auto;
  max-width: $container-width * 1px;
  min-width: $container-width * 1px;
  padding: 0 20px;
  width: 100%;
}

%inner-np {
  margin: 0 auto;
  max-width: $container-width * 1px;
  min-width: $container-width * 1px;
  width: 100%;
}

.flex-row {
  display: flex;
}

.content {
  padding-bottom: 40px;
}


