html {
  font-size: 62.5%;
}

body {
  ///  font-family: 'PT Sans', sans-serif;
  font-family: $font-main;
  font-size: 1.6rem;
}

a:link {
  &:hover {
    text-decoration: none;
  }
}

input[type=submit] {
  cursor: pointer;
}

p {
  color: #474747;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: inherit;
  margin-bottom: 2rem;

  a {
    color: #248803;
    font: inherit;
  }
}

h1 {
  color: $emerald-green;
  font-size: 2.3rem;
  margin-bottom: 30px;
  text-align: center;

  .page-heading & {
    color: $emerald-green;
    font-family: $font-cond;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 18px;
    padding: 35px 0 0;
    text-align: left;
    text-transform: uppercase;
  }
}

h2 {
  color: #248803;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 2.5em 0 1.5em;
  text-transform: uppercase;
}

h3 {
  color: #008e19;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 2.5em 0 1.5em;
  text-transform: uppercase;
}

h4 {
}

ul {
  list-style: disc;
  li {

  }
}

ol {
  list-style: decimal;

  li {

  }
}

.block-title {
  color: $orange-yellow;
  font-family: $font-cond;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 20px 0 23px;
  text-transform: uppercase;

  &--green {
    color: $emerald-green;
    font-family: $font-cond;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 20px 0 23px;
    text-transform: uppercase;
  }

  [class*='--orange'] & {
    color: $white;
  }
}
