.apartment {
  display: flex;
  margin: 38px 0;

  &__plan {
    flex: 0 0 560px;
    text-align: center;
    width: 560px;

    a {
      display: block;
      position: relative;
      
      &::after {
        background: inline_image('base64/ap-zoom.png') center center no-repeat ;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .4s ease;
      }

      &:hover {
        &::After {
          opacity: 1;
        }
      }
    }
  }

  &__info {
    flex: 1 0 auto;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  &__price {
    color: $emerald-green;
    flex: 1 0 auto;
    font-family: $font-cond;
    font-size: 5.7rem;
    font-weight: bold;
    margin-bottom: 22px;
    text-align: right;

    span {
      display: inline-block;
      width: 30px;
      height: 20px;
      background-image: inline_image('base64/r.svg');
    }
  }

  &__desc {
    flex: 1 0 395px;
    margin-right: 25px;
    padding: 7px 0 0;
    width: 395px;
  }

  &__desc-title {
    color: $orange-yellow;
    font-family: $font-cond;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__desc-row {
    color: #535453;
    font-size: 1.8rem;
    margin-bottom: .65em;
  }

  &__helpers {
    border-left: 1px solid #898989;

    flex: 0 0 167px;
    width: 167px;
  }
}

.apartment-tips {
  color: #696969;
  font-size: 1.75rem;
}