.contact-map {
  height: 464px;
  position: relative;

  .inner {
    display: flex;
    height: 0;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
  }

  &__address {
    background-color: rgba(#fca703, .8);
    color: white;
    flex: 0 0 444px;
    font-family: $font-cond;
    font-size: 2.3rem;
    font-weight: bold;
    height: 370px;
    line-height: 1.2;
    margin: 50px 0 43px auto;
    padding: 22px;
    width: 444px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.contact {
  .block-title {
    color: $emerald-green;
    margin: 45px 0 20px;
  }

  &__row {
    display: flex;
  }

  &__info {
    color: #474747;
    flex: 1 0 670px;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 10px 140px 160px;
    width: 670px;
  }

  &__aside {
    flex: 0 0 282px;
    position: relative;
    width: 282px;

    &::before {
      //background-color: #248803;
      border: 1px solid #898989;
      content: '';
      display: block;
      height: 281px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }
}

.inner-banner {
  background-image: url(/img/inner-banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 165px;
}