.banner-home {
  background-image: url('../img/template/home-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  font-family: $font-cond;
  height: 567px;
  padding: 29px 0;

  &__inner {
    @extend %inner-np;
    display: flex;
  }
}

.menu-home {
  background-color: rgba($black, .6);
  flex: 0 0 302px;
  width: 302px;

  li {
    background: inline_image('base64/menu-home-line.png');
    background-position: left bottom;
    background-repeat: repeat-x;
    padding-bottom: 2px;
  }

  a {
    color: $white;
    display: block;
    font-size: 2.01rem;
    font-weight: bold;
    height: 70px;
    line-height: 1.2;
    padding: 11px 60px 11px 20px;
    position: relative;
    text-decoration: none;

    &.is-active,
    &:hover {
      background-color: rgba($white-two, .29);

      &::after {
        opacity: 1;
      }
    }

    &::after {
      background: inline_image('base64/menu-home-arrow.png');
      content: '';
      display: block;
      height: 34px;
      line-height: 1;
      opacity: .38;
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translatey(-50%);
      width: 13px;
    }
  }
}

.slider-main {
  flex: 1 1;
  margin-left: 13px;
}

.slider-main {
  background-color: rgba($black, .6);
  height: 435px;
  margin-top: 28px;
  padding: 16px 19px;

  .bx-pager {
    padding: 28px 0;
    text-align: center;
  }

  .bx-pager-item {
    display: inline-block;
    padding: 0 10px;
  }

  .bx-pager-link {
    background-color: $white;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;

    &.active {
      background-color: $emerald-green;
    }
  }
}

.attention {
  color: $emerald-green;
  font-size: 1.3rem;
  line-height: 1.2;
  margin: 25px 0 53px;

  &__title {
    font-family: $font-cond;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__content {
    background-color: rgba($emerald-green-two, .15);
    border-left: 12px solid $emerald-green;
    margin-top: 11px;
    padding: 18px 126px 18px 18px;
    position: relative;
  }

  &__subtitle {
    font-weight: bold;;

    &--large {
      font-weight: bold;;
      margin: 20px 0;
      text-transform: uppercase;
    }
  }

  &__close {
    cursor: pointer;
    height: 62px;
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translatey(-50%) scale(1, (70 / 62));
    width: 62px;

    &::before,
    &::after {
      background-color: $emerald-green;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      transform-origin: 1px 1px;
      width: 87px;

    }

    &::before {
      left: 0;
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      left: 0;
      transform: rotate(-45deg);

    }
  }

  &.is-hide {
    display: none;
  }

  &.has-hide {
    opacity: 0;
    transition: all .4s ease-in;
  }
}


