.mk2 {
  background: #fff;
  margin: 0 auto;
  max-width: 1920px;
  //padding-top: 20px;
  width: 100%;

  img {
    max-width: 100%;
  }

  &__map {
    position: relative;
  }

  &__legend {
    color: #0b0b0b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial;
    font-size: 1.6rem;
    height: 330px;
    line-height: 1.2;
    margin: 40px 0;
    position: relative;
  }

  &__legend-item {
    display: flex;
    padding: 2px 0 5px 25px;
    width: 25%;

    &--last-in-col {
      padding-bottom: 120px;
    }
  }

  &__legend-item-count {
    color: #800984;
    display: block;
    flex: 0 0 37px;
    width: 37px;

    &--bold {
      color: #800984;
      display: block;
      flex: 0 0 37px;
      font-weight: bold;
      width: 37px;
    }
  }

  &__company-title {
    bottom: 20px;
    color: $emerald-green;
    font-size: 2.8rem;
    position: absolute;
    right: 40px;
  }

  &__name {
    color: #006600;
    font-family: Arial;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1.19;
    position: absolute;
    text-shadow: 0 0 20px 20px $white;
    -webkit-text-stroke: 27px $white;
    top: -10px;
    left: 20px;
  }
}

$b-width: 75px;
$b-height: 85px;

@keyframes show-bulb {
  0% {
    opacity: 0;
    transform: translatey(-70px) scale(0);
  }

  30% {
    opacity: .3;
    transform: translatey(-50px) scale(.6);
  }

  100% {
    opacity: 1;
    transform: translatey(0) scale(1);
  }
}



.bulb {
  animation: show-bulb .6s;
  position: absolute;
  text-decoration: none;
  transform: translatey(0) scale(1vw);

  @for $i from 0 through 4 {
    &:nth-of-type(#{$i}n+ 1) {
      animation: show-bulb ($i * .2s);
    }
  }

  &--red {
    .bulb__bg {
      background-image: inline_image('base64/bulb__02.png');
    }
  }

  &--grey {
    .bulb__bg {
      background-image: inline_image('base64/bulb__03.png');
    }
  }

  &--green {
    .bulb__bg {
      background-image: inline_image('base64/green-icon.png');
    }
  }

  &--st {
    .bulb__bg {
      background-image: inline_image('base64/bulb__01.png');
    }
  }

  &--pl {
    .bulb__bg {
      background-image: inline_image('base64/bulb__pl.png');
    }
  }

  &--yellow {
    .bulb__bg {
      background-image: inline_image('base64/bulb__01.png');

    }

    .bulb__text {
      text-shadow: 0 1px 1px rgba($black-five, .35);
    }
  }

  &--st {
    .bulb__bg {
      background-image: inline_image('base64/bulb__st.png');
      height: 112px;
      width: 127px;
    }

    .bulb__text {
      font-size: 2.7rem!important;
      height: 112px;
      line-height: 112px;
      padding-right: 15px;
      width: 127px;
    }
  }

  &--sc {
    .bulb__bg {
      background-image: inline_image('base64/bulb__01.png');
      height: 127px;
      width: 122px;
    }

    .bulb__text {
      font-size: 2.7rem!important;
      height: 127px;
      line-height: 120px;
      width: 112px;
    }
  }


  &--small {
    .bulb__bg {
      height: 70px;
      width: 60px;
    }

    .bulb__text {
      font-size: 3.4rem!important;
      height: 70px;
      line-height: 60px;
      width: 60px;
    }
  }

  &--small-2 {
    .bulb__bg {
      height: 86px;
      width: 76px;
    }

    .bulb__text {
      font-size: 2.2rem!important;
      height: 86px;
      line-height: 76px;
      width: 76px;
      text-align: center;
    }
  }

  &--small-3 {
    .bulb__bg {
      height: 70px;
      width: 60px;
    }

    .bulb__text {
      font-size: 2.6rem!important;
      height: 70px;
      line-height: 60px;
      width: 60px;
      text-align: center;
    }
  }

  &:hover &__tips  {
  }

  &__tips {
    background-color: $emerald-green;
    border: 1px solid $white;
    border-radius: 5px;
    bottom: 0;
    color: $white;
    left: 50%;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    transform: translate(-50%, -10%) scale(0.4);
    transition: all .4s ease-in-out;
    width: 150px;
    z-index: 101;

  }

  &:hover {
  }

  &:hover &__tips  {
    opacity: 1;
    transform: translate(-50%, 80%) scale(1);
  }

  &__bg {
    position: absolute;
    background-image: inline_image('base64/bulb-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: $b-width;
    height: $b-height;
    z-index: 10;
  }

  &__text {

    color: $white;
    font-family: $font-cond;
    font-size: 3.2rem;
    height: $b-height;
    line-height: 70px;
    position: relative;
    text-align: center;
    width: $b-width;
    z-index: 20;
  }

}