body {
  background-image: url('../img/template/bg-body.png');
}

//.main {
//  padding-top: 24px;
//
//  a {
//    color: #1469c8;
//  }
//
//  img {
//    border-radius: 6px;
//    overflow: hidden;
//    max-width: 100%;
//
//    &.left {
//      float: left;
//      margin: 0 20px 10px 0;
//
//      @include adapt(bf-ld-mobile) {
//        float: none;
//        margin: 10px auto;
//      }
//    }
//
//    &.right {
//      float: right;
//      margin: 0 0 10px 20px;
//
//      @include adapt(bf-ld-mobile) {
//        float: none;
//        margin: 10px auto;
//      }
//    }
//  }
//
//  p {
//    font-size: 15px;
//    font-family: $miri;
//    line-height: 20px;
//    margin-bottom: 1em;
//  }
//
//  ul, ol {
//    padding-left: 10px;
//    list-style: disc;
//    list-style-position: inside;
//
//    li {
//      margin-bottom: 9px;
//    }
//
//    &.ico-v2 {
//      list-style: none;
//
//      li {
//        margin-bottom: 9px;
//        padding-left: 20px;
//        background: inline-image('base64/v2.png') no-repeat 0 5px
//      }
//    }
//  }
//
//  ol {
//    list-style: decimal;
//    margin-left: 13px;
//    font-size: 15px;
//    margin-bottom: 1em;
//  }
//
//  table {
//    td {
//      border: 1px solid #818181;
//      padding: 10px 20px;
//    }
//  }
//}

