.site-footer {
  background-color: $brownish-grey;
  border-bottom: 18px solid $emerald-green;
  font-family: $font-cond;
  padding: 20px 0;

  &__logo {
    align-items: center;
    align-self: flex-start;
    color: $black-two;
    display: flex;
    font-size: 1.87rem;
    font-weight: bold;
    margin-left: 59px;
    margin-right: auto;
    padding-top: 7px;
    text-decoration: none;
    text-transform: uppercase;

    img {
      margin-right: 18px;
    }
  }

  &__menu {
    width: 282px;

    li {
      list-style: none;
    }

    a {
      color: $orange-yellow;
      font-size: 1.4rem;
      line-height: (20 / 14);
      text-decoration: none;

      &::before {
        content: '>';
        display: inline-block;
        margin-right: 5px;
        transform: scale(.8, 1.3);
      }

      &:hover {
        color: $white;
      }
    }
  }
}
