.site-header {
  font-family: $font-cond;

  &__top {
    align-items: center;
    display: flex;
    padding: 33px 0 30px;
    width: 100%;
  }
  
  &__bottom {
    background-color: $emerald-green;
  }

  &__logo {
    align-items: center;
    color: $emerald-green;
    display: flex;
    flex: 0 0 auto;
    font-size: 2.53rem;
    font-stretch: condensed;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    img {
      margin-right: 24px;
    }
  }

  &__info {
    display: flex;
    flex: 0 0 215px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    width: 215px;
  }


  &__email {
    color: $orange-yellow;
    font-size: 2.93rem;
    font-weight: bold;
    margin-bottom: 7px;
    text-align: right;
    text-decoration: none;

    &::after {
      border-bottom: 1px dashed $orange-yellow;
      content: '';
      display: block;
    }
    
    &:hover {
      &::after {
        border-bottom-color: transparent;
      }
    }
  }

  &__phone {
    color: $emerald-green;
    font-size: 2.93rem;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
  }
}


