.news-list {
  display: flex;
}

.news-item {
  flex: 0 1 (340 / 1130) * 100%;
  margin-bottom: 20px;
  margin-left: (100 - 3 * (340 / 1130) * 100) / 2 * 1%;
  width: (340 / 1130) * 100%;

  &:nth-of-type(3n+1) {
    margin-left: 0;
  }

  &__title {
    color: $greyish-brown;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 23px;

    [class*='--orange'] & {
      color: $white;
    }
  }

  &__img {
    margin-bottom: 20px;
    position: relative;
  }

  &__date {
    background-color: $orange-yellow;
    color: $white;
    display: inline-block;
    font-size: 14px;
    padding: 7px 22px 7px 12px;
    position: relative;

    img + & {
      bottom: 30px;
      left: 0;
      position: absolute;
    }

    &::after {
      background-color: inherit;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transform: skew(-30deg) translatex(10px);
      width: 20px;
    }

  }

  &__anons {
    color: $greyish-brown;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 20px;

    [class*='--orange'] & {
      color: $white;
    }
  }

  &__link {
    color: $emerald-green;
    font-size: 1.47rem;
    text-decoration: none;

    transition: color .4s ease;

    &:hover {
      color: $orange-yellow;

      [class*='--orange'] & {
        color: $emerald-green-two;
      }
    }

    
  }

  &__footer {
    text-align: right;
  }
}

.news-block {
  background-color: $grey;
  padding: 30px 0;
  
  &--orange {
    background-color: $orange-yellow;
    padding: 15px 0 0;
  }

  .block-title {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $brownish-grey;
    font-family: $font-main;
    font-size: 1.47rem;
    font-weight: normal;
    text-decoration: none;
    transition: color .4s ease;
    text-transform: none;

    &:hover {
      color: $orange-yellow;

      [class*='--orange'] & {
        color: $emerald-green-two;
      }
    }

    [class*='--orange'] & {
      color: $white;
    }
  }
}
