aside {
  flex: 0 0 282px;
  width: 282px;

  + .content {
    margin-left: 11px;
  }
}

.left-menu {
  list-style: none;
  margin: 50px 0;

  li {
    margin-bottom: 2rem;
    padding-right: 5px;
    position: relative;
  }

  a {
    color: #008e19;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;

    &.active,
    &:hover {
      color: #fca703;

    }

    &.active::after {
      background-image: inline_image('base64/left-menu-acitve.png');
      content: '';
      display: block;
      height: 34px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 13px;
    }
  }

}