extends ./layout/base.pug
include ./layout/header.pug


  block content
    block breadcrumb
      ul.breadcrumbs
        li
          a(href="#") Главная
        li /
          a(href="#") Строящиеся
        li /
          a(href="#") Микрорайон «Юбилейный» 2-й район
        li /
          span Жилой дом (площадка № 9 по генплану)

    h1 Однокомнатная квартира в секции А
    .apartment-tips
      | На данной странице Вы можете ознакомиться с планировками и стоимостью однокомнатной квартиры, представленной
      | в секции №3.
    .apartment
      .apartment__plan
        a(href='/img/ap.png').js-fancyapps
          img(src='/img/ap.png')
      .apartment__info
        .apartment__price
          | 2 250 600 <i class="fa fa-rub"></i>
        .fx
          .apartment__desc
            .apartment__desc-title ОПИСАНИЕ
            .apartment__desc-row 1-комнатная квартира
            .apartment__desc-row Дом №14, 3 этаж, 3 секция
            .apartment__desc-row Стоимость за кв.м.: 54313 руб.
            .apartment__desc-row Стоимость при 100% оплате: 2 243 127 руб.
            .apartment__desc-row Стоимость при рассрочке: 2 749 010,60 руб.
            .apartment__desc-row Стоимость при ипотеке: 2 749 010,60 руб.
            .apartment__desc-row Sобщ = 41.3 м2
            .apartment__desc-row Sжил = 18.99 м2
          .apartment__helpers
            a.btn--print(href='#') рАСПЕЧАТАТЬ ИНОФРМАЦИЮ
            a.btn--calc(href='#') иПОТЕЧНЫЙ КАЛЬКУЛЯТОР
  block bottom
    .building__other.building__other--orange
      .inner
        .block-title Другие дома Этого микрорайона
        .building__other-list
          a.building__other-item(href='#'): img(src='/img/ob-01.png')
          a.building__other-item(href='#'): img(src='/img/ob-02.png')
          a.building__other-item(href='#'): img(src='/img/ob-03.png')
          a.building__other-item(href='#'): img(src='/img/ob-04.png')
          a.building__other-item(href='#'): img(src='/img/ob-01.png')
          a.building__other-item(href='#'): img(src='/img/ob-02.png')
          a.building__other-item(href='#'): img(src='/img/ob-03.png')
          a.building__other-item(href='#'): img(src='/img/ob-04.png')
        a.building__other-more(href='#')
    .documents
      .inner
        .block-title Документы
        .documents__list
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
              a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
              a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
              a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
include ./layout/footer.pug