extends ./layout/base.pug
include ./layout/header.pug

  block top-bar
    .inner-banner
  block main-section
    .inner.flex-row

      block aside-left
        aside
          nav
            ul.left-menu
              li: a(href='#') Если вам положена субсидия
              li: a(href='#') О коммерческой ипотеке
              li: a(href='#') Условия страхования
              li: a(href='#') Расходы заемщика по ипотечному займу
              li: a(href='#') Полная стоимость кредита
              li: a(href='#') Документация, необходимая при обращении
      block content
        .content
          block breadcrumb
            // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
          .page-heading: h1 Условия страхования
          p Обязательным условием является страхование предмета залога (приобретаемой недвижимости)
          p Недвижимость, которая служит залогом по кредиту, может потерять свою ценность как для заемщика, так и для кредитора, если будет повреждена или разрушена в результате несчастного случая (пожара, залива, взрыва и т. п.). Но при этом заемщик все равно будет обязан возвращать полученный кредит. Отказаться погашать кредит нельзя, потому что владелец закладной вправе потребовать возмещения за счет иного имущества и доходов заемщика. В этом случае и необходима страховка - она поможет погасить задолженность по ипотечному кредиту, если с предметом залога произойдет какая-то серьезная неприятность.
          img(src='/img/strahovka.png' style='margin-bottom: 1rem')
          p
            | По закону вы обязаны застраховать залог по ипотеке только на сумму основного долга по кредиту, включая проценты. В этом случае страховая компания компенсирует указанную в договоре страхован
            | ия сумму кредита и проценты по нему, но при этом компенсация не может превышать стоимости заложенного имущества (стоимость указывается в кредитном договоре). Все остальные убытки не компенсируются.
          h2 СТраховка
          p Поэтому при заключении договора страхования предмета залога рекомендуется застраховать недвижимость не на сумму кредита, а на полную стоимость недвижимости. Если вдруг произойдет несчастье, то страховая компания не только погасит за вас остаток задолженности по кредиту, но и выплатит возмещение. <a href='#'>Размер возмещения составит</a> разницу между суммой, в которую оценен нанесенный недвижимости ущерб, и остатком задолженности по кредиту.
          p
            | По желанию заемщика может быть произведено: <br>
            | - личное страхование. Страхование жизни и трудоспособности заемщика (личное страхование) защищает от риска оказаться неспособным платить по кредиту из-за проблем со здоровьем. В таких случаях страховка поможет пережить трудный период в жизни (болезнь, авария, несчастный случай и т.д.) и обеспечит средства на погашение кредита.
          p В случае смерти заемщика, страховая компания полностью погашает остаток задолженности по кредиту. Таким образом, приобретенная в кредит недвижимость переходит к наследникам без обременений, и им не нужно будет погашать остаток задолженности по кредиту.
          h3 ВОПРОСЫ КОМПЕНСАЦИИ
          p - страхование титула. Страхование утраты права собственности заемщика на приобретаемый объект недвижимости (страхование титула) защищает от риска потерять право собственности на объект недвижимости, если сделка по его приобретению будет по какой-либо причине признана незаконной. на заложенную недвижимость.
          p - страхование ответственности заемщика предназначено для тех, кто хочет получить кредит с более низким первоначальным взносом. Поскольку наличие такой страховки снижает для банка риск невозврата кредита, размер первоначального взноса может быть значительно снижен, например, с 30% до 10% от стоимости приобретаемой недвижимости. Кроме того, такая страховка защищает заемщика от риска остаться должником по кредиту даже после обращения взыскания
  block bottom
    include ./layout/block/_project.pug
    include ./layout/block/news-list.pug
    include ./layout/block/parters.pug
include ./layout/footer.pug