extends ./layout/base.pug
include ./layout/header.pug

  block top-bar
    .inner-banner
    .inner.page-heading
      h1  Контакты
    .contact-map
      | <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=A6avpSFlqEaU5SeBAVRpOWuvjP9JQgTc&amp;width=100%&amp;height=464&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
      .inner
        .contact-map__address
          | Адрес: 430005, Республика Мордовия, г.Саранск, ул. Коммунистическая, 89
          br
          br
          a(href='mailto:ipoteka@moris.ru') E-mail: ipoteka@moris.ru
          br
          br
          | Тел: 8-800-200-2624, (8342) 24-68-95 Тел/факс: (8342) 24-29-83
          br
          br
          | Часы работы: с 9 до 18 ч.
          | Перерыв: с 13 до 14 ч.
          br
          br
          | Выходные: суббота, воскресенье
  block main-section
    .inner.flex-row
      block content
        .content
          block breadcrumb
            // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
          .contact
            .block-title Реквизиты
            .contact__row
              .contact__info
                | ОГРН  1021300979127 <br>
                | ИНН 1326183513 <br>
                | КПП 132601001 <br>
                | ОКВЭД  45.2 <br>
                | ОКПО 57561646 <br>
                | <br>
                | ОКОНХ  9619083400 <br>
                | ОКОПФ  47 <br>
                | ОКАТО  89401000000 <br>
                | <br>
                | <br>
                | АО «Мордовская ипотечная корпорация» <br>
                | ИНН/КПП  1326183513/132601001 <br>
                | Р/с 40702810800000001126 в <br>
                | АКБ «АКТИВБАНК» (ПАО) г. Саранск <br>
                | К/с 30101810500000000752  БИК 048952752 <br>
                | <br>
                | Республика Мордовия, г. Саранск, ул. Коммунистическая, 89 <br>
                | Тел: 8-800-200-2624, (8342) 24-68-95, тел/факс (8342) 24-29-83 <br>
                | <br>
                | Генеральный директор – Лушенков Сергей Валерьевич <br>
              .contact__aside
                a.btn--print(href='#') рАСПЕЧАТАТЬ ИНОФРМАЦИЮ
  block bottom
    include ./layout/block/_project.pug
    include ./layout/block/news-list.pug
    include ./layout/block/parters.pug
include ./layout/footer.pug