extends ./layout/base.pug
include ./layout/header.pug


  block content
    block breadcrumb
      ul.breadcrumbs
        li
          a(href="#") Главная
        li /
          a(href="#") Строящиеся
        li /
          span Микрорайон «Юбилейный» 2-й район
    h1 Жилой дом (площадка №9 по генплану)
    .building-tips
      | На данной странице Вы можете посмотреть наличие совбодных квартир, ознакомиться с планировками и стоимостью
      | квартир в доме.....
    include ./layout/block/filter.pug
    .building
      .building__img
        .building__img-slider
          .js-building__img-slider
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
        .building__img-thumbs
          .js-building__img-thumbs
            a.building__img-thumb(href='/img/b-02.png' data-slide-index="0")
              img(src='/img/b-02.png')
            a.building__img-thumb(href='/img/b-03.png' data-slide-index="1")
              img(src='/img/b-03.png')
            a.building__img-thumb(href='/img/b-04.png' data-slide-index="2")
              img(src='/img/b-04.png')
            a.building__img-thumb(href='/img/b-05.png' data-slide-index="3")
              img(src='/img/b-05.png')
            a.building__img-thumb(href='/img/b-05.png' data-slide-index="4")
              img(src='/img/b-05.png')
      .building__plan
        .plan
          .plan__construct
            .plan__section-a
              .plan__roof
              .plan__row
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 1
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
              .plan__row
                a.plan__ap(href='#') 3
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
              .plan__row
                a.plan__ap(href='#') 3
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 1
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 1
              .plan__row
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 1
                a.plan__ap(href='#') 1
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 3
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 1
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__footer
              .plan__section-title Секция В
            .plan__section-b
              .plan__roof
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                .plan__ap
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 3
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 3
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 1
                .plan__ap
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 3
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__footer
              .plan__section-title Секция Б
            .plan__section-c
              .plan__roof

              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__footer
              .plan__section-title Секция А
          .plan-tips
            .plan__ap.plan__ap--tips 3
            |- зеленый цвет показывает наличие свободной квартиры, цифра - количество комнат
  block bottom
    .building__other.building__other--orange
      .inner
        .block-title Другие дома Этого микрорайона
        .building__other-list
          a.building__other-item(href='#'): img(src='/img/ob-01.png')
          a.building__other-item(href='#'): img(src='/img/ob-02.png')
          a.building__other-item(href='#'): img(src='/img/ob-03.png')
          a.building__other-item(href='#'): img(src='/img/ob-04.png')
          a.building__other-item(href='#'): img(src='/img/ob-01.png')
          a.building__other-item(href='#'): img(src='/img/ob-02.png')
          a.building__other-item(href='#'): img(src='/img/ob-03.png')
          a.building__other-item(href='#'): img(src='/img/ob-04.png')
    .documents
      .inner
        .block-title Документы
        .documents__list
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
include ./layout/footer.pug