extends ./layout/base.pug
include ./layout/header.pug

  block top-bar
    .banner-home
      .banner-home__inner
        ul.menu-home
          li: a(href='#') Микрорайон «Юбилейный» 2-й район
          li: a(href='#') Микрорайон «Юбилейный» 5-й район
          li: a(href='#') Новый микрорайон «Восточный»
          li: a(href='#') В центре города Саранска
          li: a(href='#') В районах Республики Мордовия
          li: a(href='#') Город Рузаевка, улица Солнечная
          li: a(href='#') Село Берсеневка, улица Пролетарская
        .slider-main
          .slider-main__list.js-home-slider
            a.slide(href='#')
              img(src='/img/slide.png')
            a.slide(href='#')
              img(src='/img/slide.png')
            a.slide(href='#')
              img(src='/img/slide.png')
  block content
    block breadcrumb
      // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
    .attention
      .attention__title Важно!
      .attention__bar
        .attention__content
          .attention__subtitle Уважаемые граждане!
          | В связи с участившимися случаями различных спекуляций и мошеннических действий на рынке недвижимости,
          .attention__subtitle--large ОБРАЩАЕМ ВАШЕ ВНИМАНИЕ!!!
          | что АО «Мордовская ипотечная корпорация» не сотрудничает с риэлтерскими агентствами и другими физическими и юридическими лицами в данной сфере услуг!
          | По всем вопросам приобретения квартир и нежилых помещений обращайтесь к специалистам нашей организации!
          .attention__close.js-attention-close
    include ./layout/block/filter.pug
    include ./layout/block/tabs.pug
  block bottom
    include ./layout/block/_project.pug
    include ./layout/block/news-list.pug
    include ./layout/block/parters.pug
include ./layout/footer.pug