extends ./layout/base.pug
include ./layout/header.pug

  block top-bar
    .inner-banner
  block main-section
    .inner.flex-row
      block aside-left
        aside
          nav
            ul.left-menu
              li: a(href='#').active О коммерческой ипотеке
              li: a(href='#') Если вам положена субсидия
              li: a(href='#') Условия страхования
              li: a(href='#') Расходы заемщика по ипотечному займу
              li: a(href='#') Полная стоимость кредита
      block content
        .content
          block breadcrumb
            // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
          .page-heading: h1 Подать заявку
          p Для приобретения жилья необходимо обратиться непосредственно в Мордовскую ипотечную корпорацию и написать заявление о своем намерении приобрести жилье . Можно также прислать заявку через Интернет , заполнив приведенную ниже анкету:
          form.ipoteka-form
            input(type='text' placeholder='ФАМИЛИЯ ИМЯ ОТЧЕСТВО' name='name').ipoteka-form__field.ipoteka-form__field--name
            .flex-row
              .ipoteka-form__col
                input(type='tel' placeholder='НОМЕР ТЕЛЕФОНА' name='phone').ipoteka-form__field.ipoteka-form__field--phone
              .ipoteka-form__sep или
              .ipoteka-form__col
                input(type='email' placeholder='ЭЛ. ПОЧТА' name='email').ipoteka-form__field.ipoteka-form__field--email
            .flex-row
              .ipoteka-form__col
                input(type='text' placeholder='КОЛИЧЕСТВО ЧЛЕНОВ СЕМЬИ' name='count').ipoteka-form__field.ipoteka-form__field--family
            .flex-row
              .ipoteka-form__col
                input(type='text' placeholder='СОВОКУПНЫЙ ДОХОД' name='total').ipoteka-form__field.ipoteka-form__field--calc
              .ipoteka-form__sep
              .ipoteka-form__col
                input(type='text' placeholder='СОБСТВЕННЫЕ СРЕДСТВА' name='field').ipoteka-form__field.ipoteka-form__field--bag
            .flex-row
              .ipoteka-form__col
                input(type='text' placeholder='НАЛИЧИЕ СЕРТИФИКАТА' name='sert').ipoteka-form__field.ipoteka-form__field--sert
            .ipoteka-form__footer
              input(type='submit' value='Отправить').ipoteka-form__submit.btn--orng
              a(href='#').ipoteka-form__question Задать вопрос
  block bottom
    .documents
      .inner
        .block-title Документация, необходимая при обращении
        .documents__list
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Разрешение на строительство дом 14 (продление срока до 17.06.2017г.)
            a.documents__item(href='#') Разрешениена строительство дом 14
            a.documents__item(href='#') Изменения в Проектную декларацию от 16.03.2015г. Дом 14
            a.documents__item(href='#') Изменения в Проектную декларацию от 31.03.2015г. Дом 14
            a.documents__item(href='#') Изменения в Проектную декларацию от 29.08.2015г. Дом 14
          .documents__col
            a.documents__item(href='#') Изменения в Проектную декларацию от 29.08.2015г. Дом 14
            a.documents__item(href='#') Разрешение на строительство дом 14
            a.documents__item(href='#') Проектная декларация. Дом 14
            a.documents__item(href='#') Изменения в Проектную декларацию от 30.10.2015г. Дом 14
    include ./layout/block/parters.pug
include ./layout/footer.pug
