extends ./layout/base.pug
include ./layout/header.pug

  block map
    .mk2
      include ./mk2.pug
  block content
    block breadcrumb
      // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
    include ./layout/block/filter.pug
    include ./layout/block/tabs.pug
  block bottom
    include ./layout/block/_project.pug
    include ./layout/block/news-list.pug
    include ./layout/block/parters.pug
include ./layout/footer.pug