.mk2__map
  img(src='/img/mk2.jpg')
  -
    var bulbs = [
    {top: '230', left: '410',angle: '-130', text: '4-1', color: 'red'},
    {top: '143', left: '1300',angle: '-130', text: '4-3', color: 'grey'},
    {top: '80', left: '1090',angle: '-130', text: '4-3', color: 'red'},
    {top: '20', left: '890',angle: '-130', text: '4-3', color: 'red'},
    {top: '324', left: '260',angle: '0', text: '5', color: 'red'},
    {top: '420', left: '190',angle: '0', text: '6', color: 'grey'},
    {top: '520', left: '128',angle: '0', text: '7', color: 'red'},
    {top: '640', left: '84',angle: '0', text: '8', color: 'red'},
    {top: '280', left: '1730',angle: '0', text: '12-1', color: 'red'},
    {top: '314', left: '1640',angle: '0', text: '12-2', color: 'red'},
    {top: '460', left: '1640',angle: '0', text: '12-3', color: 'red'},
    {top: '533', left: '1758',angle: '0', text: '12-4', color: 'red'},
    {top: '270', left: '1330',angle: '0', text: '12-5', color: 'red'},
    {top: '303', left: '1421',angle: '0', text: '12-6', color: 'red'},
    {top: '420', left: '1411',angle: '0', text: '12-7', color: 'red'},
    {top: '485', left: '1295',angle: '0', text: '12-8', color: 'red'},
    {top: '290', left: '612',angle: '210', text: '9-3', color: 'red'},
    {top: '200', left: '940',angle: '0', text: '9-4', color: 'red'},

    {top: '315', left: '1177',angle: '0', text: '19', color: 'grey'},

    {top: '114', left: '456',angle: '-40', text: '6-3', color: 'grey'},
    {top: '170', left: '590',angle: '40', text: '6-4', color: 'red'},
    {top: '200', left: '737',angle: '-140', text: '9-2', color: 'red'},
    {top: '180', left: '840',angle: '-120', text: '9-1', color: 'red'},
    {top: '283', left: '1011',angle: '-120', text: '9-5', color: 'red'},

    {top: '37', left: '717',angle: '60', text: '6-1', color: 'red'},
    {top: '42', left: '600',angle: '60', text: '6-2', color: 'red'},

    {top: '10', left: '790',angle: '90', text: 'ТК', color: 'yellow bulb--small'},
    {top: '230', left: '1122',angle: '0', text: 'Сад', color: 'yellow bulb--small-2'},
    {top: '114', left: '790',angle: '0', text: 'Сад', color: 'yellow bulb--small-2'},
    {top: '190', left: '1450',angle: '0', text: 'МВД', color: 'yellow bulb--small-3'},
    {top: '436', left: '650',angle: '120', text: 'Школа', color: 'sc'},
    {top: '529', left: '1161',angle: '0', text: '', color: 'pl bulb--small'}
    ]
  a.bulb(style='right: ' + 0 + '%; top:' + 411 / 807 * 100 + '%;' href='#' class='bulb--st')
    .bulb__bg
    .bulb__text Стадион
  each i in bulbs
    a.bulb(style='top: ' + i.top / 807 * 100  + '%; left:' + i.left / 1920 * 100 + '%;' href='#' class='bulb--' + i.color)
      .bulb__bg
      .bulb__text= i.text
      .bulb__tips тут подсказку к тексту
//.mk2__legend
//  .mk2__legend-item <span class='mk2__legend-item-count'>1-1</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>1-2</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>2-1</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>2-2</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>3-1</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>3-2</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-1</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-2</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-3</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-4</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-5</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>5</span>
//    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.
//  .mk2__legend-item <span class='mk2__legend-item-count'>6</span>
//    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.
//  .mk2__legend-item <span class='mk2__legend-item-count'>7</span>
//    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.
//  .mk2__legend-item <span class='mk2__legend-item-count'>8</span>
//    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.
//  .mk2__legend-item <span class='mk2__legend-item-count'>9</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>10</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>11</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>12</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>13</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>14</span>
//    .mk2__legend-item-caption - 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>15</span>
//    .mk2__legend-item-caption - 14 этаж. гостиничный комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count'>16</span>
//    .mk2__legend-item-caption - 16 этаж. гостиничный комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count'>17</span>
//    .mk2__legend-item-caption - 14 этаж. гостиничный комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count'>18</span>
//    .mk2__legend-item-caption - 16 этаж. гостиничный комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count'>19</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>20</span>
//    .mk2__legend-item-caption - 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>21</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>22</span>
//    .mk2__legend-item-caption - 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>ТК</span>
//    .mk2__legend-item-caption - торговый комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>ДС</span>
//    .mk2__legend-item-caption - детский сад на 240 мест
//  .mk2__legend-item.mk2__legend-item--last-in-col <span class='mk2__legend-item-count--bold'>ДС</span>
//    .mk2__legend-item-caption - детский сад на 240 мест
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>МВД</span>
//    .mk2__legend-item-caption - городское отделение полиции
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>Шк</span>
//    .mk2__legend-item-caption - школа на 1450 мест
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>С</span>
//    .mk2__legend-item-caption - территория общественного <br> пользования (скверы)
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>П</span>
//    .mk2__legend-item-caption - поликлиника
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>Б</span>
//    .mk2__legend-item-caption - бульвар
//  .mk2__company-title АО «Мордовская ипотечная корпорация»

