extends ./layout/base.pug
include ./layout/header.pug
  block content
    block breadcrumb
      ul.breadcrumbs
        li
          a(href="#") Главная
        li /
          a(href="#") Строящиеся
        li /
          span Микрорайон «Юбилейный» 2-й район
    h1 Жилой дом (площадка №9 по генплану)
    .building-tips
      | На данной странице Вы можете посмотреть наличие совбодных квартир, ознакомиться с планировками и стоимостью
      | квартир в доме.....
    include ./layout/block/filter.pug
