doctype html
html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name='viewport', content='width=device-width')
    title
      block title
        | Сайт компании
    meta(description='' content='')
    meta(keywords='' content='')
    link(rel="stylesheet" href="css/screen.css")
  body
    block header
    block map
    .site-content
      block top-bar
      block main-section
        .inner

          block aside-left
          block content
            .content
              block breadcrumb
                .breadcrumbs
                  a(href="/")
                    span Главная
                  block PageBread
                    span Инерная
      block bottom
      block footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="/js/lib.js")
    script(src="/js/scripts.js")
