block footer
  footer.site-footer
    .inner.fx
      a.site-footer__logo(href='/')
        img(src="/img/template/logo-footer.png")
        | Мордовская ипотечная корпорация
      ul.site-footer__menu
        li: a(href='#') О компании
        li: a(href='#') Как нас найти
        li: a(href='#') Реквизиты
        li: a(href='#') Партнеры
      ul.site-footer__menu
        li: a(href='#') Проектные декларации
        li: a(href='#') Регламентирующие документы
        li: a(href='#') Конкурсная документация
        li: a(href='#') Акционерам
        li: a(href='#') Жилищно-накопительные кооперативы
