block header
  header.site-header
    .inner
      .site-header__top
        a.site-header__logo(href='/')
          img(src="/img/template/logo.png")
          | Мордовская ипотечная корпорация
        .site-header__info
          a.site-header__email(href='mailto:ipoteka@moris.ru')  ipoteka@moris.ru
          a.site-header__phone(href='tel:88002002624') 8-800-200-26-24
          a.site-header__phone(href='tel:+78342246895') +7 8342 24-68-95
          a.btn--callme.js-callme(href='#') Заказать звонок
    .site-header__bottom
      .inner
        // is-active - активная ссылка
        ul.main-menu
          - list = ["О компании ", "Построеные", "Строящиеся", "Ипотека", "Социальные проекты", "Акции", "Контакты"]
          each item in list
            li
              a(href="#") #{item}
