block news-list
  .news-block.news-block--orange
    .inner
      .block-title СОЦИАЛЬНЫЕ ПРоЕКТЫ
        a.news-block__link(href='#') все проекты >>
      .news-list
        .news-item
          .news-item__img
            img(src='/img/news-02.png')
          .news-item__title Проект «Молодая семья»
          .news-item__anons
            | Оценка эффективности кампании, следовательно, концентрирует повседневный побочный PR-эффект,
            | спользуя опыт предыдущих кампаний. Ценовая стратегия неоднозначна. BTL оправдывает стиль менеджмента.
            | Социальная ответственность осмысленно концентрирует социальный статус.
          .news-item__footer
            a.news-item__link(href='#') Подробнее >>
        .news-item
          .news-item__img
            img(src='/img/news-01.png')
          .news-item__title Компенсация кредита для многодетных семей
          .news-item__anons
            | Рыночная информация, следовательно, специфицирует популярный целевой сегмент рынка, повышая конкуренцию.
            | Узнавание бренда, не меняя концепции, изложенной выше, индуцирует ролевой рекламный клаттер. CTR,
            | в рамках сегодняшних воззрений, по-прежнему устойчив к изменениям спроса. Как предсказывают футурологи
            | потребительская база неоднозначна.
          .news-item__footer
            a.news-item__link(href='#') Подробнее >>
        .news-item
          .news-item__img
          .news-item__title Жилье для детей оставшихся без попечения родителей
          .news-item__anons
            | К тому же креативная концепция интегрирована. Рейтинг неверно отражает стратегический SWOT-анализ.
            | По сути, опрос неестественно ускоряет конвергентный поведенческий таргетинг.
          .news-item__footer
            a.news-item__link(href='#') Подробнее >>
