.filter-title Быстрый Поиск квартиры
form.filter
  .filter__group
    .filter__title Район
    select
      option Любой
      option Любой
      option Любой
      option Любой
  .filter__group
    .filter__title Кол-во комнат
    .filter__range 1-2
    .js-range-select(data-select-max='4' data-select-min='1')
  .filter__group
    .filter__title Площадь (м2)
    .filter__range 50-70
    .js-range-select(data-select-max='120' data-select-min='42')
  .filter__group
    .filter__title Этаж
    .filter__range 6-17
    .js-range-select(data-select-max='22' data-select-min='1')
  .filter__group
    .filter__title Цена (млн. руб)
    .filter__range 2-2,5
    .js-range-select(data-select-max='8.5' data-select-min='1.3')
  .filter__group--last
    input(type='submit' value='Подобрать').btn--green
