block news-list
  .news-block
    .inner
      .block-title НОВОСТИ
        a.news-block__link(href='#') архив новостей >>
      .news-list
        .news-item
          .news-item__img
            img(src='/img/news.png')
            .news-item__date 26-06-2016
          .news-item__anons
            | Оценка эффективности кампании, следовательно, концентрирует повседневный побочный PR-эффект,
            | используя опыт предыдущих кампаний. Ценовая стратегия неоднозначна. BTL оправдывает стиль менеджмента.
            | Социальная ответственность осмысленно концентрирует социальный статус.
          .news-item__footer
            a.news-item__link(href='#') Подробнее >>
        .news-item
          .news-item__img
            .news-item__date 26-06-2016
          .news-item__anons
            | Медиапланирование раскручивает межличностный анализ зарубежного опыта, осознав маркетинг как часть
            | производства. Рыночная информация, следовательно, специфицирует популярный целевой сегмент рынка,
            | повышая конкуренцию. Узнавание бренда, не меняя концепции, изложенной выше, индуцирует ролевой
            | рекламный клаттер. CTR, в рамках сегодняшних воззрений, по-прежнему устойчив к изменениям спроса.
            | Как предсказывают футурологи потребительская база неоднозначна.
          .news-item__footer
            a.news-item__link(href='#') Подробнее >>
        .news-item
          .news-item__img
            img(src='/img/news.png')
            .news-item__date 26-06-2016
          .news-item__anons
            | К тому же креативная концепция интегрирована. Рейтинг неверно отражает стратегический SWOT-анализ.
            | По сути, опрос неестественно ускоряет конвергентный поведенческий таргетинг.
          .news-item__footer
            a.news-item__link(href='#') Подробнее >>

