.partners
  .inner
    .block-title Партнёры
    .partners__slider
      .js-partners-slider
        a(href='$')
          img(src='/img/p-01.png')
        a(href='$')
          img(src='/img/p-02.png')
        a(href='$')
          img(src='/img/p-03.png')
        a(href='$')
          img(src='/img/p-04.png')
        a(href='$')
          img(src='/img/p-05.png')
        a(href='$')
          img(src='/img/p-06.png')