.object-title.block-title--green ОбЪекты
.object-tabs.js-tabs
  ul.tabs__captions
    li.tabs__caption.is-active все
    li.tabs__caption сданы
    li.tabs__caption со скидкой
  .tabs__content
    .tabs__item.is-active
      .object-list
        .object
          .object__img
            img(src='/img/o-01.png')
            .object__labels
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 2-й район
          .object__number Дом №5 по Генплану
          .object__status свободно 86%
          .object__price от 1 580 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-02.png')
            .object__labels
              .object__label.object__label--sale: span скидка
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 5-й район,между ул. Волгоградскойи дорогой на Кочкурово
          .object__number Дом №12 по Генплану
          .object__status свободно 62%
          .object__price--old от 1 580 000 руб.
          .object__price от 1 380 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-03.png')
            .object__labels
              .object__label.object__label--progress: span строится
              .object__label.object__label--sale: span скидка
          .object__location Новый микрорайон "Восточный"
          .object__number Дом №5-6 по Генплану
          .object__status свободно 86%
          .object__date Дата сдачи:   12-09-2017
          .object__price--old от 2 380 000 руб.
          .object__price от 2 180 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-04.png')
            .object__labels
              .object__label.object__label--sale: span скидка
          .object__location Город Рузаевка, улица Солнечная
          .object__number Дом №7-6 по Генплану
          .object__status свободно 2%
          .object__price--old от 1 940 000 руб.
          .object__price от 1 930 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-01.png')
            .object__labels
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 2-й район
          .object__number Дом №5 по Генплану
          .object__status свободно 86%
          .object__price от 1 580 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-02.png')
            .object__labels
              .object__label.object__label--sale: span скидка
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 5-й район,между ул. Волгоградскойи дорогой на Кочкурово
          .object__number Дом №12 по Генплану
          .object__status свободно 62%
          .object__price--old от 1 580 000 руб.
          .object__price от 1 380 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-03.png')
            .object__labels
              .object__label.object__label--progress: span строится
              .object__label.object__label--sale: span скидка
          .object__location Новый микрорайон "Восточный"
          .object__number Дом №5-6 по Генплану
          .object__status свободно 86%
          .object__date Дата сдачи:   12-09-2017
          .object__price--old от 2 380 000 руб.
          .object__price от 2 180 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-04.png')
            .object__labels
              .object__label.object__label--sale: span скидка
          .object__location Город Рузаевка, улица Солнечная
          .object__number Дом №7-6 по Генплану
          .object__status свободно 2%
          .object__price--old от 1 940 000 руб.
          .object__price от 1 930 000 руб.
          a.object__btn(href='#') Подробнее
        .objects-show-more.js-show-objects Показать еще 16 домов
    .tabs__item
      .object-list
        .object
          .object__img
            img(src='/img/o-01.png')
            .object__labels
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 2-й район
          .object__number Дом №5 по Генплану
          .object__status свободно 86%
          .object__price от 1 580 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-02.png')
            .object__labels
              .object__label.object__label--sale: span скидка
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 5-й район,между ул. Волгоградскойи дорогой на Кочкурово
          .object__number Дом №12 по Генплану
          .object__status свободно 62%
          .object__price--old от 1 580 000 руб.
          .object__price от 1 380 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-03.png')
            .object__labels
              .object__label.object__label--progress: span строится
              .object__label.object__label--sale: span скидка
          .object__location Новый микрорайон "Восточный"
          .object__number Дом №5-6 по Генплану
          .object__status свободно 86%
          .object__date Дата сдачи:   12-09-2017
          .object__price--old от 2 380 000 руб.
          .object__price от 2 180 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-04.png')
            .object__labels
              .object__label.object__label--sale: span скидка
          .object__location Город Рузаевка, улица Солнечная
          .object__number Дом №7-6 по Генплану
          .object__status свободно 2%
          .object__price--old от 1 940 000 руб.
          .object__price от 1 930 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-01.png')
            .object__labels
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 2-й район
          .object__number Дом №5 по Генплану
          .object__status свободно 86%
          .object__price от 1 580 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-02.png')
            .object__labels
              .object__label.object__label--sale: span скидка
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 5-й район,между ул. Волгоградскойи дорогой на Кочкурово
          .object__number Дом №12 по Генплану
          .object__status свободно 62%
          .object__price--old от 1 580 000 руб.
          .object__price от 1 380 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-03.png')
            .object__labels
              .object__label.object__label--progress: span строится
              .object__label.object__label--sale: span скидка
          .object__location Новый микрорайон "Восточный"
          .object__number Дом №5-6 по Генплану
          .object__status свободно 86%
          .object__date Дата сдачи:   12-09-2017
          .object__price--old от 2 380 000 руб.
          .object__price от 2 180 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-04.png')
            .object__labels
              .object__label.object__label--sale: span скидка
          .object__location Город Рузаевка, улица Солнечная
          .object__number Дом №7-6 по Генплану
          .object__status свободно 2%
          .object__price--old от 1 940 000 руб.
          .object__price от 1 930 000 руб.
          a.object__btn(href='#') Подробнее
        .objects-show-more.js-show-objects Показать еще 16 домов
    .tabs__item
      .object-list
        .object
          .object__img
            img(src='/img/o-01.png')
            .object__labels
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 2-й район
          .object__number Дом №5 по Генплану
          .object__status свободно 86%
          .object__price от 1 580 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-02.png')
            .object__labels
              .object__label.object__label--sale: span скидка
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 5-й район,между ул. Волгоградскойи дорогой на Кочкурово
          .object__number Дом №12 по Генплану
          .object__status свободно 62%
          .object__price--old от 1 580 000 руб.
          .object__price от 1 380 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-03.png')
            .object__labels
              .object__label.object__label--progress: span строится
              .object__label.object__label--sale: span скидка
          .object__location Новый микрорайон "Восточный"
          .object__number Дом №5-6 по Генплану
          .object__status свободно 86%
          .object__date Дата сдачи:   12-09-2017
          .object__price--old от 2 380 000 руб.
          .object__price от 2 180 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-04.png')
            .object__labels
              .object__label.object__label--sale: span скидка
          .object__location Город Рузаевка, улица Солнечная
          .object__number Дом №7-6 по Генплану
          .object__status свободно 2%
          .object__price--old от 1 940 000 руб.
          .object__price от 1 930 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-01.png')
            .object__labels
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 2-й район
          .object__number Дом №5 по Генплану
          .object__status свободно 86%
          .object__price от 1 580 000 руб.
          a.object__btn(href='#') Подробнее
        .object
          .object__img
            img(src='/img/o-02.png')
            .object__labels
              .object__label.object__label--sale: span скидка
              .object__label.object__label--done: span сдан
          .object__location Микрорайон "Юбилейный" 5-й район,между ул. Волгоградскойи дорогой на Кочкурово
          .object__number Дом №12 по Генплану
          .object__status свободно 62%
          .object__price--old от 1 580 000 руб.
          .object__price от 1 380 000 руб.
          a.object__btn(href='#') Подробнее
